<ion-header>

  <ion-navbar color="dark">
    <ion-title>Notificaciones</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="fondo no-scroll" padding>
  
  <ion-list>
      <ion-item *ngFor="let x of messages">
          <ion-avatar item-start>
              <button ion-button color="danger" round>{{x.address|firstCaps}}</button>
          </ion-avatar>
          <h2>{{x.address}}</h2>
          <p>{{x.body}}</p>
      </ion-item>
  </ion-list>
</ion-content>