page-sms {
    .fondo{
        background-image: url('../assets/mensaje.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto; 
    }
    .no-scroll .scroll-content{
        overflow: hidden;
    }
}
