<ion-tabs color="dark">
  <ion-tab [root]="videoPage" tabTitle="Video" tabIcon="md-play"></ion-tab>
  <ion-tab [root]="smsPage" tabTitle="Notificaciones" tabIcon="md-chatboxes"></ion-tab>
  <ion-tab [root]="mapasPage" tabTitle="Acerca" tabIcon="star"></ion-tab>
</ion-tabs>