<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Agregar Camara
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label stacked>API KEY</ion-label>
      <ion-input type="text" name="name4" maxlength="30" minlength="30" placeholder="minimo 30 caracteres"  style="font-size:12px" [(ngModel)]="model.name4"></ion-input>   
    </ion-item>
    <ion-item>
      <ion-label stacked>GROUP KEY</ion-label>
      <ion-input type="text" name="name2" maxlength="10" minlength="10" placeholder="minimo 10 caracteres" style="font-size:12px" [(ngModel)]="model.name2"></ion-input>
      
    </ion-item>
    <ion-item>
      <ion-label stacked>MONITOR ID</ion-label>
      <ion-input type="text" name="name3"  maxlength="10" minlength="10" placeholder="minimo 10 caracteres" style="font-size:12px"[(ngModel)]="model.name3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nombre Camara</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="model.name"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label stacked>Fecha</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" name="birth" [(ngModel)]="model.birth"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Activo</ion-label>
      <ion-checkbox name="active" [(ngModel)]="model.active"></ion-checkbox>
    </ion-item>

  </ion-list>

  <button ion-button block (click)="save()">Guardar</button>

</ion-content>