page-home {
    .bg-image{
        background-image: url('../assets/fondocama.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
    }
    .no-scroll .scroll-content{
        overflow: hidden;
    }
}
