#map {
  display: block;
  height: 50%;
  width: auto;
  }
 
  .badgeOri {
    text-align: center;
    background-color: #44853e;
  }
  
  .badgeDest {
    text-align: center;
    background-color: #f14736;
  }
  

  .bg-image{
      background-image: url('../assets/mundo.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; 
  }
  .no-scroll .scroll-content{
      overflow: hidden;
  }

 