
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Electronic S3curity</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-image no-scroll">
      
        <H1 style="font-size: 150%" align="center" color="white"><FONT color="white">ElectronicS3curity</FONT></H1>

    <p style="font-size: 11px">
        <FONT color="white">
        Es una empresa que tiene como meta principal la seguridad y proteccion tanto de la vivienda como
        del usuario ,caracterizandoce en la produccion de equipos innovadores de menor costo en el area de 
        seguridad electronica.</FONT>
    </p>    
    <p style="font-size: 11px">
        <FONT color="white">
        Se encuentra ubicado en:  
      </FONT>
    </p>
  <ion-row>
    <div>
      <ion-badge class="badgeOri">Su Localizacion</ion-badge>
    </div>
    <div>
      <ion-badge class="badgeDest">Establecimentos</ion-badge>
    </div>
  </ion-row>
  <div id="map"></div>
  <p style="font-size: 11px">
      <FONT color="white">    
  Si desea comunicarse con nosotros llame al : 
    <a ion-text color="danger"><ion-icon md="md-call"></ion-icon> 0995049854 - 072842577 </a>   con gusto le atendemos.
  </FONT>
  </p>
</ion-content>
