<ion-header>

  <ion-navbar color="dark">
    <ion-title >Video</ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content class="fondo no-scroll" text-center>
  <ion-grid>
    <ion-row>
      <ion-col>
        <iframe src="http://192.168.1.123:4545/ +'Camara1'"  scrolling="no"></iframe>
        <!--h1>src="http://192.168.1.123:4545/ +'{{Camara3}}'"</h1-->
      </ion-col>
      <ion-col>
        <iframe src="http://192.168.1.123:4545/ +'Camara2'"  scrolling="no"></iframe>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <iframe src="http://192.168.1.123:4545/ +'Camara3'"  scrolling="no"></iframe>      
      </ion-col>
      <ion-col>
        <iframe src="http://192.168.1.123:4545/ +'Camara4'"  scrolling="no"></iframe>
      </ion-col>
    </ion-row>
  </ion-grid>
<!--ion-label > {{GroupKeyC1}} </ion-label-->
  
<!--button ion-button (click)="sendSMS()">Activar Deteccion</button-->   
<ion-item color="dark"> 
  <ion-label >Activar Deteccion</ion-label>
  <ion-toggle [(ngModel)]="condicion" (ionChange)="sendSMS($event)"></ion-toggle>
</ion-item>

</ion-content>