page-video {
    .fondo{
        background-image: url('../assets/pantalla.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: center; 
    }
    .no-scroll .scroll-content{
        overflow: hidden;
    }
    iframe {
        width: 100% ;
        height: 100%;
        
    }
}
